@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication

@inject NavigationManager NavigationManager

@inherits LayoutComponentBase

<div class="page">
  <div class="sidebar">
    <NavMenu />
  </div>

  <main>
    <div class="top-row px-4">
      <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
      <CascadingAuthenticationState>
        <AuthorizeView>
          <Authorized>
            <a href="authentication/logout" @onclick="Logout">Logout</a>
          </Authorized>
          <NotAuthorized>
            <a href="/authentication/login" @onclick="Login">Login</a>
          </NotAuthorized>
        </AuthorizeView>
      </CascadingAuthenticationState>
    </div>

    <article class="content px-4">
      @Body
    </article>
  </main>
</div>

@code {
  protected void Logout(MouseEventArgs args) {
    NavigationManager.NavigateToLogout("/authentication/logout");
  }
  protected void Login(MouseEventArgs args) {
    NavigationManager.NavigateToLogin("/authentication/login");
  }
}
